@import '@/assets/scss/components/import/division-info.scss';
@import '@/assets/scss/components/import/status-inquiry.scss';
@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/salesperson-card.scss';
@import '@/assets/scss/components/import/icon-list.scss';

.opener {
  width: 20px;
  height: 20px;
}

.accordion-layer {
  margin: 0 -19px;
}

.accordion-contents {
  margin: 20px 19px 0;
  border-top: 1px solid $color-gray-20;
  padding-top: 20px;
}
