@import '@/assets/scss/components/import/status-inquiry.scss';
@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/salesperson-card.scss';
@import '@/assets/scss/components/import/icon-list.scss';

.opener {
  width: 16px;
  height: 16px;
}

.accordion-contents {
  margin-top: 20px;
  border-top: 1px solid $color-gray-20;
  padding-top: 20px;
}
