.progress {
  display: flex;
  align-items: center;

  &__bar {
    flex: 1;
    min-width: 0;
    border-radius: 100px;
    height: 4px;
    background-color: $color-gray-15;

    &-active {
      width: 0;
      height: 100%;
      border-radius: 100px;
      background-color: $color-green-50;
      transition: width 0.2s;
    }
  }

  &--color-blue {
    .progress__bar {
      &-active {
        background-color: $color-blue-50;
      }
    }
  }
}
