@import '@/assets/scss/components/import/input-timer.scss';

.appoint-wrap {
  dt {
    top: 34px;
  }
}

.appoint-wrap-input {
  padding-top: 7px;
}

.appoint-btn {
  width: 64px;
  min-height: 34px;
  @include font-size-default(15);
}
