@import '@/assets/scss/components/import/basic-table.scss';

.basic-table {
  border-top: none;

  > table {
    > tbody {
      > tr {
        &[tabindex='0'],
        > td[tabindex='0'] {
          cursor: pointer;
        }

        &:global(.is-selected) {
          > td {
            background-color: rgba($color-navy-50, 0.08);
          }
        }

        &:last-child {
          > td {
            border-bottom: none;
          }
        }

        &:global(.is-disabled) {
          > td {
            color: $color-gray-40;
          }

          &:global(.is-selected) {
            > td {
              background-color: $color-gray-05;
            }
          }
        }
      }
    }
  }
}

.select-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 243px;
  border-top: 1px solid $color-gray-60;
  border-bottom: 1px solid $color-gray-30;

  &__caption {
    @include for-a11y;
  }

  &__head {
    flex: none;
    overflow: hidden;
  }

  &__body {
    flex: 1;
    min-height: 0;
    overflow: auto;
  }

  &--disabled {
    .basic-table {
      > table {
        > thead {
          > tr {
            > th {
              color: $color-gray-40;
            }
          }
        }
      }
    }
  }
}
