// font
$font-default: '맑은고딕', 'Malgun Gothic', '돋움', Dotum, 'Apple Gothic',
  sans-serif;
$font-spoqa-han-sans-neo: 'Spoqa Han Sans Neo';

// color
$color-black: #000;
$color-white: #fff;
$color-green: #00a69e;
$color-green-2: #047c77;
$color-green-3: #b4e2e0;
$color-blue: #3d5afe;
$color-blue-2: #0a2be8;
$color-blue-3: #c2d6fc;
$color-pink: #f32a8b;
$color-pink-2: #d70a6c;
$color-pink-3: #facbe1;

// line-height
$line-height-default: 1.5;
$line-height-button: 1;

// letter spacing
$letter-spacing-default: -0.02em;

// min page width
$page-min-width: 1000px;
