@import '@/assets/scss/components/import/empty.scss';

.bg {
  flex: 1;
  background-color: $color-navy-05;
  margin: 0 -20px -40px;
  padding: 30px 20px 40px;
}

.block {
  padding: 19px;
  border-radius: 8px;
  background-color: $color-white;
  box-shadow: 1px 1px 8px rgba($color-black, 0.12);
}
