@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/step.scss';
@import '@/assets/scss/components/import/contents-list.scss';
@import '@/assets/scss/components/import/basic-table.scss';

.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.slide-thumb {
  padding-right: 12px;
}
