@import '@/assets/scss/components/import/car-info.scss';
@import '@/assets/scss/components/import/icon-list.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/contents-list.scss';
@import '@/assets/scss/components/import/basic-table.scss';
@import '@/assets/scss/components/import/step.scss';

.accordion-contents {
  padding: 24px 0 8px;
}

.accordion-button {
  margin-top: 16px;

  &__icon {
    transition: transform 0.25s;
  }

  &--opened {
    .accordion-button {
      &__icon {
        transform: rotate(180deg);
      }
    }
  }
}
