@import '@/assets/scss/components/import/basic-list.scss';

.basic-section {
  & + .basic-section {
    margin-top: 30px;
  }

  &__title {
    margin: 0;
    @include font-size-default(15);
    font-weight: 700;
  }

  &__title + &__contents {
    margin-top: 16px;
  }
}

.basic-list {
  &__item {
    .basic-list {
      margin-left: -4px;
      margin-top: 8px;
    }
  }
}
