@import '@/assets/scss/components/import/product-detail.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/icon-list.scss';
@import '@/assets/scss/components/import/step.scss';
@import '@/assets/scss/components/import/illustrationImg.scss';

.bg {
  background-color: $color-navy-05;
  margin: -30px -20px 0 -20px;
  padding: 30px 20px 40px 20px;
  box-sizing: border-box;
}

.sub {
  margin: 2px 0 0 0;
  @include font-size-default(13);
  color: $color-gray-80;
  font-weight: 300;
}
