.popup {
  width: 328px;
  border-radius: 20px;
  background-color: $color-white;
  text-align: center;

  @include media-mobile-small {
    width: 320px;
  }

  &__head {
    padding: 30px 20px 12px;
  }

  &__body {
    padding: 8px 20px 32px;

    &::before,
    &::after {
      content: '';
      display: table;
      clear: both;
    }

    &:first-child {
      padding-top: 40px;
    }
  }

  &__foot {
    flex: none;
    padding: 0 20px 20px;
  }

  &__title {
    margin: 0;
    @include font-size-default(16);
    font-weight: 700;
  }

  &__text {
    margin: 0;
    @include font-size-default(14);
    color: $color-gray-80;

    & + & {
      margin-top: 8px;
    }
  }
}
