.toast-alert {
  position: fixed;
  top: 67px;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 0;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 20px;
  }

  &__message {
    margin: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba($color-black, 0.84);
    @include font-size-default(14);
    color: $color-white;
    animation: message-animation 3.5s forwards linear;
    opacity: 0;
    transform: translateY(100%);

    & + & {
      margin-top: 8px;
    }
  }
}

@keyframes message-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  7.142857% {
    opacity: 1;
    transform: translateY(0);
  }
  92.857143% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
