.waiting-connection {
  margin: -10px 0 0;
  &__logo {
    font-size: 0;

    svg {
      width: 104px;
      height: 24px;
    }
  }
  &__illust {
    width: 115px;
    height: 92px;
    margin-top: 16px;
    padding: 0;
  }

  &__title {
    margin: 12px 0 0;
    @include font-size-default(16);
    font-weight: 700;
  }
  &__text {
    margin: 12px 0 0;
    @include font-size-default(14);
    color: $color-gray-80;
  }
}
