.banner {
  display: block;

  &__block {
    padding-bottom: 38px;
  }

  &__thumb {
    margin-bottom: -38px;

    &-img {
      width: 124px;
      height: 104px;
    }
  }

  :global(.swiper-pagination-bullets) {
    position: absolute;
    z-index: 10;
    left: 20px;
    bottom: 20px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  :global(.swiper-pagination-bullet) {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $color-gray-50;
    transition: width 0.3s, background-color 0.3s;

    & + :global(.swiper-pagination-bullet) {
      margin-left: 5px;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    width: 10px;
    background-color: $color-black;
  }
}
