.banner {
  display: block;

  &__block {
    &.banner__block {
      padding-bottom: 38px;
    }
  }

  &__thumb {
    &.banner__thumb {
      margin-bottom: -38px;
    }

    &-img {
      &.banner__thumb-img {
        width: 124px;
        height: 104px;
      }
    }
  }

  :global(.swiper-pagination-bullets) {
    position: absolute;
    z-index: 10;
    left: 20px;
    bottom: 20px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  @include swiper-pagination-bullet;
}
