.banner {
  margin: 0 -20px;
  border-radius: 12px;

  :global(.swiper-pagination-bullets) {
    position: absolute;
    z-index: 10;
    left: 40px;
    bottom: 24px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  @include swiper-pagination-bullet;

  &--theme {
    &-secondary {
      margin-left: 0;
      margin-right: 0;
      background-color: $color-navy-05;

      :global(.swiper-pagination-bullets) {
        left: 24px;
      }
    }
  }
}
