@import '@/assets/scss/components/import/division-info.scss';

.status-inquiry {
  @include reset-list;
  display: flex;
  padding: 0 16px;
  background: #f9f9f9;

  &__item {
    flex: 1;
    min-width: 0;
    text-align: center;
  }

  &__category {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 0;
    border: none;
    background: none;
    box-sizing: border-box;
    cursor: pointer;

    &__number {
      display: block;
      color: $color-green-50;
      @include font-size-default(16);
    }

    &__text {
      display: block;
      margin-top: 2px;
      color: $color-gray-60;
      @include font-size-default(12);
    }

    &.active {
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-black;
      }

      .status-inquiry__category__text {
        color: $color-black;
      }
    }
  }
}

.date {
  @include font-size-default(13);
  font-weight: 300;
}

.category {
  @include font-size-default(13);
  font-weight: 500;
  color: $color-green-50;
}

.opener {
  width: 20px;
  height: 20px;
}

.contents {
  margin-top: 20px;
  border-top: 1px solid $color-gray-20;
  padding-top: 20px;
}
