@import '@/assets/scss/components/import/division-info.scss';
@import '@/assets/scss/components/import/status-inquiry.scss';

.status-inquiry {
  margin-bottom: 0;
}

.date {
  @include font-size-default(13);
  font-weight: 300;
}

.category {
  @include font-size-default(13);
  font-weight: 500;
  color: $color-green-50;
}

.opener {
  width: 20px;
  height: 20px;
}

.contents {
  margin-top: 20px;
  border-top: 1px solid $color-gray-20;
  padding-top: 20px;
}
