@import '@/assets/scss/components/import/basic-table.scss';

.section-regular {
  margin-top: 30px;

  .margin-left-mini {
    margin-left: 2px;
  }
}

.margin-top-small {
  margin-top: 16px;
}

.margin-top-medium {
  margin-top: 40px;
}
