@import '@/assets/scss/components/import/faq-list.scss';
@import '@/assets/scss/components/import/empty.scss';

.nav {
  margin-bottom: 0;
}

.category {
  margin-top: 20px;
  margin-bottom: 0;
}

.faq {
  margin-top: 24px;
}
