@import '@/assets/scss/components/import/faq-list.scss';
@import '@/assets/scss/components/import/empty.scss';

.no-padding {
  padding-top: 0;
}

.margin-bottom-regular {
  margin-bottom: 20px;
}

.margin-bottom-medium {
  margin-bottom: 24px;
}
