.key-value {
  &-list {
    @include reset-list;

    &__item {
      display: flex;
      align-items: flex-start;
      @include font-size-default(15);
      min-height: #{$line-height-default}em;
    }

    &__item + &__item {
      margin-top: 10px;
    }

    &__key {
      flex: 1;
      color: $color-gray-60;
    }

    &__value {
      margin-left: 0;
      text-align: right;
      color: $color-black;
    }
  }

  &--left {
    .key-value-list {
      &__key {
        max-width: 80px;
      }
      &__value {
        flex: 1;
        text-align: left;
      }
    }
  }
}
