.input {
  display: flex;
  align-items: center;

  &__cell {
    flex: 1;
    min-width: 0;
  }

  &__input {
    @include reset-input-text;
    width: 100%;
    @include font-size-head(18);
    height: #{$line-height-head}em;

    &,
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }

  &__delete {
    @include reset-button;
    flex: none;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    position: relative;
    display: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      box-sizing: content-box;
      padding: 4px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-text {
      @include for-a11y;
    }
  }

  &--focus {
    &.input--inputed {
      .input__delete {
        display: block;
      }
    }
  }
}
