.box-check-list {
  display: block;

  &__list {
    @include reset-list;
    display: flex;
    align-items: stretch;
  }

  &__item {
    display: flex;
    align-items: stretch;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;

    & + & {
      margin-left: 8px;
    }
  }

  &--align-full {
    .box-check-list__list {
      display: block;
    }

    .box-check-list__item {
      display: block;

      & + .box-check-list__item {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }

  &--wrap {
    &::before {
      content: '';
      display: table;
    }

    .box-check-list {
      &__list {
        margin: -8px 0 0 -8px;
        flex-wrap: wrap;
      }

      &__item {
        flex: none;
        width: 50%;
        padding: 8px 0 0 8px;

        & + .box-check-list__item {
          margin-left: 0;
        }
      }
    }
  }

  &--spacing {
    &-small {
      .box-check-list {
        &__item {
          & + .box-check-list__item {
            margin-left: 6px;
          }
        }
      }

      &.box-check-list--wrap {
        .box-check-list {
          &__list {
            margin: -6px 0 0 -6px;
          }

          &__item {
            padding: 6px 0 0 6px;

            & + .box-check-list__item {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  &--col-3 {
    .box-check-list {
      &__item {
        width: 33.333333%;
      }
    }
  }

  &--col-4 {
    .box-check-list {
      &__item {
        width: 25%;
      }
    }
  }

  &--col-6 {
    .box-check-list {
      &__item {
        width: 16.666666%;
      }
    }
  }
}
