.security-input {
  display: block;

  &__button {
    @include reset-button;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    @include font-size-head(18);
    min-height: #{$line-height-head}em;
  }

  &__dot {
    flex: none;
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid $color-gray-60;
    border-radius: 50%;

    & + & {
      margin-left: 6px;
    }

    &--active {
      border-color: $color-black;
      background-color: $color-black;
    }
  }

  &__button[disabled] {
    .security-input__dot {
      border-color: $color-gray-40;

      &--active {
        background-color: $color-gray-40;
      }
    }
  }

  &--password {
    .security-input__button {
      justify-content: center;
      min-height: #{$line-height-button}em;
    }

    .security-input__dot {
      width: 18px;
      height: 18px;

      & + .security-input__dot {
        margin-left: 16px;
      }

      &--active {
        border-color: $color-green-50;
        background-color: $color-green-50;
      }
    }
  }
}
