.footer {
  padding: 0 20px 30px;

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: $color-gray-30;
    margin-bottom: 24px;
  }
}

.nav {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -15px;

  &__item {
    flex: none;
    box-sizing: border-box;
    padding-left: 15px;

    &--emphasis {
      .nav__link {
        font-weight: 500;
        color: $color-black;
      }
    }
  }

  &__link {
    @include reset-button;
    display: block;
    text-decoration: none;
    color: $color-gray-50;
    @include font-size-default(12);
  }
}

.address {
  display: block;
  margin: 16px 0 0;
  font-style: normal;
  @include font-size-default(11);
  font-weight: 300;
  color: $color-gray-70;
}

.bin {
  margin: 2px 0 0;
  @include font-size-default(11);
  font-weight: 300;
  color: $color-gray-70;
}

.copy {
  display: block;
  margin: 16px 0 0;
  font-style: normal;
  @include font-size-default(11);
  font-weight: 300;
  color: $color-gray-50;
}

.sns {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 -16px;

  &__item {
    flex: none;
    box-sizing: border-box;
    padding-left: 16px;
  }

  &__link {
    @include reset-button;
    display: block;
    text-decoration: none;
  }

  &__icon {
    display: block;
    width: 28px;
    height: 28px;
  }
}
