.header-wrap {
  display: block;

  &--theme {
    &-secondary {
      background-color: $color-navy-05;
    }
    &-tertiary {
      background-color: transparent;

      .header-fix {
        z-index: -1;
        left: -200%;
        right: 200%;
      }
    }
  }
}
.header-fake {
  display: block;
}
.header-fix {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: $page-min-width;
  min-height: 48px;
  box-sizing: border-box;
  padding: 12px 16px;
  background-color: rgba($color-white, 0);
  transition: background-color 0.2s;

  &--scroll {
    background-color: $color-white;
  }

  &--theme {
    &-secondary {
      background-color: $color-navy-05;

      &.header--scroll {
        background-color: $color-white;
      }
    }
    &-tertiary {
      &.header--scroll {
        background-color: rgba($color-white, 0);
      }
    }
    // 240930 추가
    &-fourth {
      background-color: $color-gray-25;
    }
    // //240930 추가
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
  }

  &__right {
    justify-content: flex-end;
  }

  &__center {
    display: flex;
    align-items: center;
    flex: none;
    // s: 241008 수정보류
    // flex: 3;
    // justify-content: center;
    // e:// 241008 수정
    min-width: 0;
  }

  &__logo {
    margin: 0;

    &-link {
      display: block;
      text-decoration: none;
      color: inherit;
    }

    &-text {
      @include for-a11y;
    }

    svg {
      display: block;
      width: 104px;
      height: 24px;
    }
  }

  &__title {
    flex: 1; // s: 241008 수정보류
    min-width: 0; // s: 241008 수정보류
    margin: 0;
    @include font-size-default(16);
    font-weight: 500;
    text-align: center;
    // s: 241008 수정보류
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
    // max-height: 3em;
    // e:// 241008 수정보류
  }

  &__button {
    @include reset-button;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    flex: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -6px;
      left: -6px;
      box-sizing: content-box;
      padding: 6px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }

    & + & {
      margin-left: 12px;
    }

    &-icon {
      display: block;
      width: 100%;
      height: 100%;

      * {
        fill: $color-black;
      }
    }

    &-text {
      @include for-a11y;
    }

    &--notice {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 1px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-semantic-essential;
      }
    }
  }

  &__round-button {
    flex: none;
    margin: -1px 0;
  }

  &__button + &__round-button,
  &__round-button + &__button {
    margin-left: 12px;
  }

  &__app {
    flex: none;
    margin: -1px 12px -1px 0;
  }
}
