.layer-body-inner {
  padding: 0;
}

.banner {
  border-radius: 20px 20px 0 0;
  overflow: hidden;

  &__block {
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 88.88889%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  :global(.swiper-pagination-bullets) {
    position: absolute;
    z-index: 10;
    left: 20px;
    bottom: 24px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  @include swiper-pagination-bullet;
}
