@import '@/assets/scss/components/import/icon-list.scss';
@import '@/assets/scss/components/import/join.scss';
@import '@/assets/scss/components/import/image-view.scss';

:global(.page-home) {
  background-color: $color-gray-15;
}

.web-body {
  padding-top: 12px;
}

.app-body {
  padding-top: 0;
}

.top-link {
  @include reset-button;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: left;

  &__icon {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-top: 2px;

    * {
      fill: $color-black;
    }
  }
}

.hr {
  margin-top: 16px;
  margin-bottom: 40px;
}

.loan-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('@/assets/images/etc/coin.png') no-repeat 50% 50% / 100% 100%;
}

.hot-deal-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('@/assets/images/etc/lightning.png') no-repeat 50% 50% / 100%
    100%;
}

.progress {
  margin-bottom: 32px;

  &__block {
    padding: 19px 19px 29px;
    border-radius: 12px;
    border-color: $color-white;
    background-color: $color-white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  }

  &__head {
    display: flex;
    align-items: center;

    &-left {
      flex: 1;
      min-width: 0;
    }

    &-right {
      flex: none;
      margin-left: 8px;
    }

    &-row {
      display: flex;
      align-items: center;

      & + & {
        margin-top: 2px;
      }

      .progress__title {
        flex: 0 1 auto;
        min-width: 0;

        &-sub {
          flex: none;
          margin: 0 0 0 4px;
          @include font-size-default(12);
          color: $color-gray-70;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    @include font-size-default(14);
    font-weight: 500;

    &-sub {
      margin: 2px 0 0;
      @include font-size-default(12);
      color: $color-gray-70;
    }
  }

  &__date {
    margin: 0;
    @include font-size-default(12);
    color: $color-gray-70;
  }

  &__info {
    display: flex;
    margin: 24px 0;

    &-item {
      position: relative;
      padding: 0 0 2px;
      flex: 1;
      min-width: 0;
      text-align: center;

      & + & {
        margin-left: 1px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: -1px;
          width: 1px;
          height: 40px;
          margin-top: -20px;
          background-color: $color-gray-20;
        }
      }
    }

    &-key {
      @include font-size-default(12);
      font-weight: 400;
      color: $color-gray-60;
    }

    &-val {
      margin: 0;
    }

    &-text {
      margin-bottom: -2px;
      padding-top: 4px;
      @include font-size-default(20);
      font-weight: 700;
    }
  }

  &__amount {
    margin: 20px 0 0;

    &-block {
      margin: 0;
      padding: 12px 0 8px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }

    &-key {
      order: 2;
      @include font-size-default(14);
      font-weight: 400;
      color: $color-gray-80;
    }

    &-val {
      order: 1;
      margin: 0;
    }

    &-bar {
      margin-top: 24px;
    }
  }

  &__button {
    margin: 20px 0 -10px;
  }

  .join {
    margin-top: 16px;
    margin-bottom: -8px;
  }
}

.buttons {
  @include reset-list;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 11px;
  border: 1px solid $color-gray-30;
  background-color: $color-gray-05;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 11px 0;
    box-sizing: border-box;

    &:only-child {
      position: static;
    }
  }

  &__hr {
    flex: none;
    width: 1px;
    height: 14px;
    background-color: $color-gray-40;
  }

  &--auto {
    color: $color-white;
    border-color: transparent;
    background-color: rgba($color-blue-90, 0.4);
  }

  &--used-auto {
    color: $color-white;
    border-color: #020829;
    background-color: #020829;
  }

  &--personal {
    color: $color-white;
    border-color: $color-green-90;
    background-color: $color-green-90;
  }
}

.button {
  @include reset-button;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  text-align: center;
  @include font-size-button(13);
  font-weight: 500;
  box-sizing: border-box;
  padding: 3px 8px 2px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

.card {
  color: $color-white;
  padding: 23px;
  border-radius: 12px;
  border-color: $color-blue-50;
  background-color: $color-blue-50;

  &__title {
    margin: 0 0 6px;
    @include font-size-default(12);
    font-weight: 400;
    color: $color-gray-30;
  }

  &__text {
    margin: 0 0 6px;
    @include font-size-head(18);
    font-weight: 700;
  }

  &__image {
    width: 100%;
    max-width: 272px;
    height: auto;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .buttons {
    margin-top: 10px;
  }

  &--secondary {
    border-color: $color-navy-40;
    background-color: $color-navy-40;
  }

  &--tertiary {
    border-color: $color-green-50;
    background-color: $color-green-50;
  }
}

.product {
  &::before {
    content: '';
    display: table;
  }

  &__contents {
    margin: -24px 0 0 -16px;
    display: flex;
    flex-wrap: wrap;
  }

  &__group {
    flex: none;
    width: 50%;
    box-sizing: border-box;
    padding: 24px 0 0 16px;

    &--full {
      width: 100%;
    }
  }

  &__block {
    display: block;
    color: inherit;
    text-decoration: none;
    border-radius: 12px;
    background-color: #e0e2e5;

    &--secondary {
      background-color: $color-white;
    }
  }

  &__info {
    padding: 24px 20px 0;
  }

  &__sub {
    @include font-size-default(12);
    color: $color-gray-90;
    margin-bottom: 2px;
  }

  &__title {
    @include font-size-default(16);
    font-weight: 700;
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item {
    &:first-child {
      .product__info {
        padding-bottom: 20px;
      }
    }

    & + & {
      &::before {
        content: '';
        display: block;
        margin: 0 24px;
        height: 1px;
        background-color: $color-gray-20;
      }

      .product__info {
        padding-top: 20px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    .product__info {
      flex: 1;
      min-width: 0;
      padding: 24px 0 24px 24px;
    }

    .product__image {
      img {
        width: auto;
        height: 88px;
      }
    }
  }
}

.bottom-banner {
  background-color: #e1eaf6;
}

.app {
  text-align: center;

  &__icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 4px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0 0 16px;
    @include font-size-default(14);
    font-weight: 300;
  }
}

.notice {
  margin-bottom: 32px;

  &__block {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid $color-gray-30;
    background-color: $color-gray-05;
  }

  &__text {
    flex: 1;
    min-width: 0;
    display: block;
    @include font-size-default(14);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    flex: none;
    display: block;
    margin-left: 10px;

    svg {
      display: block;
      width: 16px;
      height: 16px;

      * {
        fill: $color-gray-60;
      }
    }
  }
}
