@import '@/assets/scss/components/import/icon-list.scss';
@import '@/assets/scss/components/import/join.scss';
@import '@/assets/scss/components/import/image-view.scss';

.web-body {
  padding-top: 12px;
}

.app-body {
  padding-top: 0;
}

.top-link {
  @include reset-button;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: left;

  &__icon {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-top: 2px;

    * {
      fill: $color-black;
    }
  }
}

.hr {
  margin-top: 16px;
  margin-bottom: 40px;
}

.loan-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('@/assets/images/etc/coin.png') no-repeat 50% 50% / 100% 100%;
}

.hot-deal-icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url('@/assets/images/etc/lightning.png') no-repeat 50% 50% / 100%
    100%;
}

.hot-deal-list {
  @include reset-list;

  &__item {
    & + & {
      margin-top: 24px;
    }
  }

  &__block {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-left: 8px;
  }
}

.progress {
  margin-bottom: 24px;

  &__list {
    border-radius: 12px;
    background-color: $color-gray-15;
  }

  &__item {
    display: block;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  &__title {
    flex: 1;
    min-width: 0;
    margin: 0;
    @include font-size-default(14);
    font-weight: 700;
  }

  &__count {
    flex: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 24px;
    @include font-size-default(14);

    &-num {
      flex: none;
      display: block;
      font-weight: 700;
      color: $color-green-50;
    }

    &-unit {
      flex: none;
      display: block;
      margin-left: 2px;
      font-weight: 500;
    }
  }

  &__arrow {
    flex: none;
    margin-left: 8px;
  }

  &__opener {
    position: static;
    width: 14px;
    height: 14px;

    &::before {
      padding: 0;
      top: 0;
      left: 0;
    }
  }

  &__contents {
    margin: 0 20px 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: $color-white;

    &-top {
      margin-bottom: 16px;
    }

    &-head {
      display: flex;
      align-items: center;
    }

    &-title {
      flex: 1;
      min-width: 0;
      margin: 0;
      @include font-size-default(14);
      font-weight: 500;
    }

    &-right {
      flex: none;
      margin-left: 8px;
    }

    &-date {
      margin: 2px 0 0;
      @include font-size-default(12);
      font-weight: 300;
      color: $color-gray-70;
    }
  }

  &__info {
    margin: 0;

    &-item {
      display: flex;
      align-items: center;

      & + & {
        margin-top: 8px;
      }
    }

    &-key {
      flex: none;
      @include font-size-default(14);
      color: $color-gray-80;
    }

    &-val {
      margin: 0;
      flex: 1;
      min-width: 0;
      @include font-size-head(18);
      font-weight: 700;
      text-align: right;
    }
  }

  &__button {
    margin-top: 16px;
  }

  &__amount {
    padding: 8px 0 0;

    &-d-day {
      margin: 0 0 8px;
      font-size: 0;
      line-height: 0;
      text-align: center;
    }

    &-block {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }

    &-key {
      order: 2;
      @include font-size-default(14);
      font-weight: 400;
      color: $color-gray-80;
    }

    &-val {
      order: 1;
      margin: 0;
    }

    &-bar {
      margin-top: 28px;
    }
  }

  &__recommend {
    margin-top: 24px;
  }

  .join {
    margin-top: 16px;
  }
}

.buttons {
  @include reset-list;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 11px;
  border: 1px solid $color-gray-30;
  background-color: $color-gray-05;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 11px 0;
    box-sizing: border-box;

    &:only-child {
      position: static;
    }
  }

  &__hr {
    flex: none;
    width: 1px;
    height: 14px;
    background-color: $color-gray-40;
  }

  &--auto {
    color: $color-white;
    border-color: transparent;
    background-color: rgba($color-blue-90, 0.24);
  }

  &--used-auto {
    color: $color-white;
    border-color: transparent;
    background-color: rgba(2, 8, 41, 0.3);
  }

  &--personal {
    color: $color-white;
    border-color: transparent;
    background-color: rgba($color-green-90, 0.3);
  }
}

.button {
  @include reset-button;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  text-align: center;
  @include font-size-button(13);
  font-weight: 500;
  box-sizing: border-box;
  padding: 3px 8px 2px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

.card {
  color: $color-white;
  padding: 23px;
  border-radius: 12px;
  border-color: $color-blue-50;
  background-color: $color-blue-50;

  &__title {
    margin: 0 0 6px;
    @include font-size-default(12);
    font-weight: 400;
    color: rgba($color-white, 0.9);
  }

  &__text {
    margin: 0 0 6px;
    @include font-size-head(18);
    font-weight: 700;
  }

  &__sub {
    margin: 6px 0 0;
    @include font-size-default(12);
    font-weight: 400;
    color: rgba($color-white, 0.9);
  }

  &__image {
    width: 100%;
    max-width: 272px;
    height: auto;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &--secondary {
    border-color: $color-navy-40;
    background-color: $color-navy-40;
  }

  &--tertiary {
    border-color: $color-green-50;
    background-color: $color-green-50;
  }
}

.product {
  &::before {
    content: '';
    display: table;
  }

  &__contents {
    margin: -24px 0 0 -16px;
    display: flex;
    flex-wrap: wrap;
  }

  &__group {
    flex: none;
    width: 50%;
    box-sizing: border-box;
    padding: 24px 0 0 16px;

    &--full {
      width: 100%;
    }
  }

  &__block {
    display: block;
    color: inherit;
    text-decoration: none;
    border-radius: 12px;
    background-color: #eaeff5;

    &--secondary {
      border: 1px solid $color-gray-20;
      background-color: $color-white;
    }
  }

  &__info {
    padding: 24px 20px 0;
  }

  &__sub {
    @include font-size-default(12);
    color: $color-gray-70;
    margin-bottom: 2px;
  }

  &__title {
    @include font-size-default(16);
    font-weight: 700;
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item {
    &:first-child {
      .product__info {
        padding-bottom: 20px;
      }

      .product__image {
        img {
          margin-top: -1px;
        }
      }
    }

    & + & {
      &::before {
        content: '';
        display: block;
        margin: 0 24px;
        height: 1px;
        background-color: $color-gray-20;
      }

      .product__info {
        padding-top: 20px;
      }

      .product__image {
        img {
          margin-bottom: -1px;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    .product__info {
      flex: 1;
      min-width: 0;
      padding: 23px 0 23px 23px;
    }

    .product__image {
      img {
        width: auto;
        height: 88px;
      }
    }
  }
}

.bottom-banner {
  background-color: #e1eaf6;
}

.app {
  text-align: center;

  &__icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 4px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0 0 16px;
    @include font-size-default(14);
    font-weight: 300;
  }
}

.notice {
  margin-bottom: 32px;

  &__block {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid $color-gray-30;
    background-color: $color-gray-05;
  }

  &__text {
    flex: 1;
    min-width: 0;
    display: block;
    @include font-size-default(14);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    flex: none;
    display: block;
    margin-left: 10px;

    svg {
      display: block;
      width: 16px;
      height: 16px;

      * {
        fill: $color-gray-60;
      }
    }
  }
}

.info {
  margin: 40px 0 0;
  font-size: 0;
  line-height: 0;
  text-align: center;

  &__item {
    display: inline-flex;
    align-items: center;
    vertical-align: top;

    & + & {
      &::before {
        content: '';
        display: block;
        flex: none;
        margin: 0 16px;
        width: 1px;
        height: 10px;
        background-color: $color-gray-40;
      }
    }
  }

  &__key {
    flex: none;
    @include font-size-default(12);
    font-weight: 500;
    margin-right: 4px;
  }

  &__val {
    margin: 0;
    flex: none;
  }
}
