@import '@/assets/scss/components/import/switch-list.scss';
@import '@/assets/scss/components/import/tooltip-section.scss';

.setting-push-head {
  padding: 7px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.setting-push-depth {
  padding: 16px 16px 0;
}
