@import '@/assets/scss/components/import/switch-list.scss';
@import '@/assets/scss/components/import/tooltip-section.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/nav-menu.scss';

.top-menu {
  margin-top: 16px;
}

.bottom-menu {
  margin-top: 24px;
}

.version {
  margin-top: 30px;
  border-radius: 8px;
  background-color: $color-navy-05;

  &__inner {
    display: flex;
    align-self: center;
    padding: 20px;
  }

  &__title {
    flex: 1;
    min-width: 0;
    @include font-size-default(16);
    font-weight: 500;
  }

  &__info {
    @include font-size-default(16);
    color: $color-gray-80;
  }
}
