.scroll {
  margin-top: 30px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &-right {
      display: block;
      width: 34px;
      height: 24px;
      background: url('@/assets/images/icon/scroll.svg') no-repeat 50% 50% /
        24px;
      font-size: 0;
      line-height: 0;
    }
  }

  &__body {
    overflow-x: scroll;
    width: 100%;
    border-top: 1px solid $color-gray-60;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    & > div {
      border-top: none;
    }
    table {
      white-space: nowrap;
    }
  }

  &__foot {
    margin-top: -1px;
    border-top: 1px solid #fff;
  }
}
