.address-box {
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;

  &__situation {
    margin: 0;
    color: $color-green-50;
    @include font-size-default(12);
    font-weight: 400;
  }

  &__text {
    margin: 4px 0 0;
    color: $color-black;
    @include font-size-default(14);
    font-weight: 400;
  }
}
