.agree-list {
  display: block;

  &__container {
    @include reset-list;
  }

  &__right {
    flex: none;
    margin-left: auto;
    padding-left: 8px;
    display: flex;
    align-items: center;
    @include font-size-default(16);
    min-height: #{$line-height-default}em;
  }

  &__all {
    display: block;

    &-head {
      display: flex;
      align-items: flex-start;
      padding: 15px;
      border: 1px solid $color-gray-30;
      border-radius: 8px;
    }

    &-checkbox {
      flex: 0 1 auto;
      min-width: 0;
    }

    &-opener {
      flex: none;
      margin-left: 10px;

      &:only-child {
        margin-left: 0;
      }
    }

    &-contents {
      padding: 24px 16px 0;
    }
  }

  &__depth {
    display: block;
    @include reset-list;

    &-item {
      & + & {
        margin-top: 30px;
      }
    }

    &-head {
      display: flex;
      align-items: flex-start;
    }

    &-checkbox {
      flex: 0 1 auto;
      min-width: 0;
    }

    &-opener {
      flex: none;
      width: 16px;
      height: 16px;
      margin-left: 10px;

      &:only-child {
        margin-left: 0;
      }
    }

    &-contents {
      padding-top: 14px;
    }
  }

  &__list {
    @include reset-list;
  }

  &__item {
    & + & {
      margin-top: 12px;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;

    .agree-list__right {
      min-height: 24px;
    }
  }

  &__checkbox {
    flex: 0 1 auto;
    min-width: 0;
  }

  &__link {
    @include reset-button;
    position: relative;
    flex: none;
    display: block;
    width: 16px;
    height: 16px;
    background: url('@/assets/images/icon/link.svg') no-repeat 50% 50% / 100%
      100%;
    margin-left: 10px;

    &:only-child {
      margin-left: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -8px;
      left: -8px;
      width: 100%;
      height: 100%;
      padding: 8px;
      box-sizing: content-box;
      background-color: rgba(0, 0, 0, 0);
    }

    &-text {
      @include for-a11y;
    }
  }

  &__detail {
    padding: 6px 20px 0 30px;
  }

  &__list--secondary {
    padding: 10px 0 0 24px;

    .agree-list__item {
      & + .agree-list__item {
        margin-top: 8px;
      }
    }

    .agree-list__link {
      width: 14px;
      height: 14px;
    }
  }
}
