.ars-list {
  display: block;

  &__container {
    @include reset-list;
  }

  &__all {
    display: block;

    &-head {
      display: flex;
      align-items: flex-start;
      padding: 16px;
      border: 1px solid $color-gray-30;
      border-radius: 8px;

      .ars-list__right {
        min-height: 26px;

        .ars-list__opener {
          min-height: 26px;
        }
      }
    }

    &-block {
      flex: 1;
      min-width: 0;
    }

    &-opener {
      flex: none;
      margin-left: 10px;

      &:only-child {
        margin-left: 0;
      }
    }

    &-contents {
      padding: 26px 16px 10px 16px;
    }
  }

  &__depth {
    &-head {
      display: flex;
      margin-top: 16px;

      .ars-list__opener {
        min-height: 24px;
      }

      .ars-list__opener::before {
        top: 0;
        left: 0;
        padding: 0;
      }
    }

    &-item:first-child &-head {
      margin-top: 0;
    }

    &-block {
      flex: 1;
      min-width: 0;
    }

    &-contents {
      padding: 18px 26px 0 26px;
    }
  }

  &__2depth {
    &-head {
      display: flex;
      margin-top: 12px;
      margin-right: -26px;

      .ars-list__opener {
        min-height: 24px;
      }

      .ars-list__opener::before {
        top: 0;
        left: 0;
        padding: 0;
      }
    }

    &-block {
      flex: 1;
      min-width: 0;
    }

    &-contents {
      padding: 14px 25px 0 25px;
    }
  }

  &__all + &__all {
    margin-top: 16px;
  }
}
