.authority {
  padding: 0 12px;
  box-sizing: border-box;

  &__list {
    @include reset-list;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-top: 24px;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__desc {
    margin-left: 16px;

    &-block {
      display: inline-flex;
      vertical-align: middle;

      span {
        padding: 2px;
        @include font-size-default(12);
        box-sizing: border-box;
      }
    }

    &-title {
      @include font-size-default(15);
      color: $color-black;
      font-weight: 500;
    }

    &-text {
      margin-top: 2px;
      @include font-size-default(12);
      color: $color-gray-70;
    }
  }
}
