.bank-brand {
  display: block;

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__item {
    width: 33.333333%;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
  }

  &__block {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 14px;
    border-radius: 8px;
    border: 2px solid transparent;

    &:global(.is-selected) {
      border-color: $color-black;
    }
  }

  &__logo {
    flex: none;
    align-self: center;
    display: block;
    margin-bottom: 2px;

    svg {
      display: block;
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    flex: none;
    display: block;
    width: 100%;
    @include font-size-default(14);
  }
}
