.basic-table {
  border-top: 1px solid $color-gray-60;

  > table {
    @include reset-table;

    > thead {
      > tr {
        > th {
          padding: 7px 0;
          border-left: 1px solid $color-gray-30;
          border-bottom: 1px solid $color-gray-30;
          word-break: break-all;
          color: $color-gray-70;
          font-weight: 400;
          @include font-size-default(12);
          vertical-align: middle;
          text-align: center;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
    > tbody {
      > tr {
        > th {
          padding: 11px 15px;
          border-bottom: 1px solid $color-gray-30;
          word-break: break-all;
          @include font-size-default(12);
          color: $color-gray-70;
          font-weight: 400;
          vertical-align: middle;
          text-align: center;

          &:first-child {
            border-left: none;
          }
        }
        > td {
          padding: 11px 15px;
          border-left: 1px solid $color-gray-30;
          border-bottom: 1px solid $color-gray-30;
          word-break: break-all;
          @include font-size-default(13);
          vertical-align: middle;
          text-align: center;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
    > tfoot {
      > tr {
        > td {
          padding: 11px 15px;
          border-left: 1px solid $color-gray-30;
          border-bottom: 1px solid $color-gray-30;
          word-break: break-all;
          background-color: $color-navy-05;
          @include font-size-default(13);
          font-weight: 500;
          vertical-align: middle;
          text-align: center;

          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }

  &--scroll {
    overflow-y: auto;
    height: 243px;
    border-bottom: 1px solid $color-gray-30;
    table {
      > tbody {
        > tr {
          &:last-child {
            > td {
              border-bottom: none;
            }
          }
          &:hover {
            > td {
              background: rgba(20, 59, 117, 0.08);
            }
          }
        }
      }
    }
  }
  &--sticky {
    table {
      > thead {
        th {
          position: sticky;
          top: 0;
          background: #fff;
        }
      }
    }
  }
}
