.board-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__head {
    flex: none;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-gray-20;
    margin-bottom: 30px;
  }

  &__category {
    margin: 0;
    @include font-size-head(13);
    color: $color-green-50;
    font-weight: 400;

    & + .board-detail__title {
      margin-top: 8px;
    }
  }

  &__title {
    margin: 0;
    @include font-size-head(20);
    font-weight: 500;
  }

  &__text {
    margin: 0;
    margin-top: 4px;
    @include font-size-default(14);
    color: $color-black;
    font-weight: 300;
  }

  &__sub {
    margin: 0;
    margin-top: 8px;
    @include font-size-default(13);
    color: $color-gray-70;
    font-weight: 300;

    &-list {
      display: flex;
      align-items: center;
    }

    &-item + &-item {
      position: relative;
      padding-left: 13px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 6px;
        margin-top: -6px;
        width: 1px;
        height: 12px;
        background-color: $color-gray-30;
      }
    }
  }

  &__contents {
    flex: 1;

    &::before,
    &::after {
      content: '';
      display: table;
    }
  }

  &__foot {
    flex: none;
    padding-top: 24px;
    border-top: 1px solid $color-gray-20;
    margin-top: 30px;
  }
}
