.board-detail {
  display: block;

  &__head {
    padding-bottom: 30px;
    border-bottom: 1px solid $color-gray-30;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    @include font-size-head(20);
    font-weight: 500;

    & + .board-detail__sub {
      margin-top: 8px;
    }
  }

  &__sub {
    margin: 0;
    @include font-size-default(13);
    color: $color-gray-70;
    font-weight: 300;
  }

  &__contents {
    &::before,
    &::after {
      content: '';
      display: table;
    }
  }
}
