.car-info {
  margin: -20px -20px 30px;

  &__inner {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid $color-gray-20;
  }

  &__layer {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &__contents {
    padding: 0 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 20px 20px;
    background-color: $color-white;

    &::before {
      content: '';
      display: block;
      margin-bottom: 20px;
      border-top: 1px solid $color-gray-20;
    }
  }

  &__opener {
    @include reset-button;
    display: flex;
    align-items: center;

    &-text {
      display: block;
      @include font-size-default(12);
      color: $color-gray-60;
    }

    &-icon {
      display: block;
      margin-left: 2px;
      width: 18px;
      height: 18px;
      transition: transform 0.25s;

      * {
        fill: $color-gray-60;
        transition: fill 0.25s;
      }

      :global(.is-accordion-opened) & {
        transform: rotate(-180deg);

        * {
          fill: $color-black;
        }
      }
    }
  }
}
