.close-button {
  @include reset-button;
  width: 24px;
  height: 24px;

  &--secondary {
    svg {
      * {
        fill: $color-gray-60;
      }
    }
  }

  &--tertiary {
    svg {
      * {
        fill: $color-gray-15;
      }
    }
  }
}
