.coupon-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__head {
    display: flex;
    flex: none;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-gray-20;
    margin-bottom: 30px;
  }

  &__left {
    flex: none;
  }

  &__right {
    flex: 1;
    min-width: 0;
    padding: 1px 0;
    margin-left: 16px;
  }

  &__brand-name {
    margin: 0;
    @include font-size-default(13);
    font-weight: 300;

    & + .board-detail__title {
      margin-top: 2px;
    }
  }

  &__title {
    margin: 0;
    @include font-size-default(16);
    font-weight: 500;
  }

  &__contents {
    flex: 1;

    &::before,
    &::after {
      content: '';
      display: table;
    }
  }
}
