.detail-accordion {
  &__text {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding-right: 20px;
  }

  &__opener {
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;

    &:before {
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
    }
  }

  &__contents {
    margin-top: 16px;
  }
}
