@import '@/assets/scss/components/import/agree-list.scss';
@import '@/assets/scss/components/import/RankingBadge.scss';

.checkbox {
  &__info {
    @include font-size-default(12);
    font-weight: 300;
    color: $color-gray-70;
    margin: 6px 0 0;
    padding-right: 4px;
  }
  &__text {
    &__info {
      margin-top: 6px;
    }
  }
}
