.icon-buttons {
  display: block;

  &__list {
    @include reset-list;
    display: block;
  }

  &__item {
    display: block;

    & + & {
      margin-top: 24px;
    }
  }

  &__block {
    @include reset-button;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      flex: none;
      margin-left: 16px;
      background: url('@/assets/images/icon/check-l.svg') no-repeat 50% 50% /
        100% 100%;
      opacity: 0;
    }
  }

  &__icon {
    display: block;
    flex: none;
    width: 48px;
    height: 48px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: $color-gray-10;
    overflow: hidden;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: block;
    flex: 1;
    min-width: 0;
  }

  &__icon + &__content {
    margin-left: 16px;
  }

  &__title {
    display: block;
    margin: 0;
    @include font-size-default(16);
  }

  &__block:active {
    &::after {
      opacity: 1;
    }

    .icon-buttons__title {
      font-weight: 500;
      color: $color-navy-50;
    }
  }
}
