.icon-box {
  display: flex;
  align-items: center;

  &__icon {
    flex: none;
    display: flex;
    align-items: center;
    margin-right: 12px;

    svg {
      display: block;
      width: 28px;
      height: 28px;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
  }
}
