.logs {
  @include reset-list;

  &__item {
    & + & {
      margin-top: 12px;
    }
  }

  &--margin {
    &-small {
      .logs__item {
        & + .logs__item {
          margin-top: 8px;
        }
      }
    }

    &-regular {
      .logs__item {
        & + .logs__item {
          margin-top: 16px;
        }
      }
    }
  }

  &__block {
    position: relative;
    padding: 19px;
    border: 1px solid $color-gray-20;
    border-radius: 8px;
    box-sizing: border-box;

    &--secondary {
      border-color: $color-gray-30;
    }

    &--tertiary {
      border: transparent;
      background-color: $color-gray-15;
      padding: 15px 20px;
    }

    // s: 240926 추가
    &--fourth {
      border: transparent;
      background-color: $color-green-100;
      padding: 20px;
      border-radius: 16px;
    }
    // e:// 240926 추가

    &--small {
      padding: 13px 16px 12px 16px;
    }

    &--regular {
      padding: 15px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__contents {
    flex: 1;
    min-width: 0;
  }

  &__right {
    flex: none;
    margin-left: auto;
    padding-left: 8px;
  }

  &__title {
    margin: 0 0 4px;
    @include font-size-default(16);
    font-weight: 500;
  }

  &__link {
    @include reset-button;
    display: block;
    width: 18px;
    height: 18px;
    background: url('/src/assets/images/icon/link.svg') no-repeat 50% 50%/ 100% 100%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
    }

    &-text {
      @include for-a11y;
    }
    // s: 240930 추가
    &-white {
      @include reset-button;
      display: block;
      width: 18px;
      height: 18px;
      background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29289 3.79289C7.90237 4.18342 7.90237 4.81658 8.29289 5.20711L14.5858 11.5L8.29289 17.7929C7.90237 18.1834 7.90237 18.8166 8.29289 19.2071C8.68342 19.5976 9.31658 19.5976 9.70711 19.2071L16.7071 12.2071C16.8946 12.0196 17 11.7652 17 11.5C17 11.2348 16.8946 10.9804 16.7071 10.7929L9.70711 3.79289C9.31658 3.40237 8.68342 3.40237 8.29289 3.79289Z' fill='%23FFF'/%3E%3C/svg%3E")
        no-repeat 50% 50%/ 100% 100%;
    }
    // e:// 240930 추가
  }

  &__button {
    position: relative;
    z-index: 11;
  }
}
