.nav-menu {
  &__list {
    @include reset-list;
  }

  &__item + &__item {
    margin-top: 16px;
  }

  &__link {
    display: block;
    padding: 8px 4px;
    text-decoration: none;
    @include font-size-default(16);
    font-weight: 500;
    color: $color-black;
  }
}
