.product-detail {
  display: block;

  &__list {
    @include reset-list;
  }

  &__item {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 16px;
    }
  }

  &__icon {
    flex: none;
    width: 36px;
    height: 36px;
    margin-right: 12px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__block {
    flex: 1;
    min-width: 0;
  }

  &__title {
    @include font-size-default(13);
    color: $color-gray-60;
  }

  &__desc {
    display: flex;
    align-items: flex-end;
    @include font-size-default(16);
    font-weight: 500;

    &-sub {
      flex: none;
      margin: 0 0 1px 2px;
      @include font-size-default(12);
      font-weight: 300;
      color: $color-gray-80;
    }
  }

  &--small {
    .product-detail {
      &__icon {
        width: 24px;
        height: 24px;
        margin-right: 6px;
      }

      &__block {
        display: flex;
      }

      &__title {
        flex: none;
        margin-right: 6px;
        color: $color-gray-70;
      }

      &__desc {
        flex: 1;
        min-width: 0;
        @include font-size-default(14);
      }
    }
  }
}
