.sticker {
  display: inline-block;
  @include font-size-default(11);
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 50px;
  color: $color-gray-70;
  background-color: $color-gray-20;

  &--green {
    color: $color-green-50;
    background-color: rgba($color-green-10, 0.2);
  }
}
