.switch-list {
  @include reset-list;

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 0;

    & + & {
      margin-top: 8px;
    }
  }

  &__title {
    flex: 0 1 auto;
    min-width: 0;
    margin: 0;
    @include font-size-default(16);
    font-weight: 500;
  }

  &__right {
    flex: none;
    margin-left: auto;
    padding-left: 16px;
    display: flex;
    align-items: center;
  }

  &__check {
    flex: none;
    display: block;
  }

  &__tip {
    margin-left: 4px;
  }
}
