.text-group {
  display: flex;
  @include font-size-default(13);
  font-weight: 300;
  color: $color-gray-80;

  & + & {
    margin-top: 2px;
  }

  &__item {
    display: block;
    flex: none;

    & + & {
      margin-left: 4px;
    }

    &--auto {
      flex: 0 1 auto;
      min-width: 0;
    }
  }
}
