:root {
  --popper-theme-text-color: #fff;
  --popper-theme-background-color: rgba(21, 24, 31, 0.9);
  --popper-theme-background-color-hover: rgba(21, 24, 31, 0.9);
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 12px;
  --popper-theme-padding: 16px 20px;
  --popper-theme-box-shadow: 0;
}

.tooltip {
  &__header {
    display: flex;
    align-items: center;
  }
  &__button {
    display: inline-block;
    border: none;
    background: none;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;

    + div {
      margin: 0 20px;
    }
  }
  &__title {
    margin: 0 0 2px;
    @include font-size-default(12);
    font-weight: 500;
    color: $color-white;
  }
  &__text {
    margin: 0;
    @include font-size-default(12);
    font-weight: 300;
    color: $color-white;
  }
}
