.upload-button {
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;

    &[disabled] {
      cursor: default;

      & + .upload-button__label {
        .upload-button__img {
          opacity: 0.5;
        }

        .upload-button__text {
          color: $color-gray-40;
          cursor: default;

          &::before {
            background-image: url('@/assets/images/icon/add-disabled.svg');
          }
        }
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 19px;
    border: 1px solid $color-gray-20;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__img {
    flex: none;

    svg {
      display: block;
      width: 36px;
      height: 36px;
    }

    & + .upload-button__text {
      margin-left: 12px;
    }
  }

  &__text {
    flex: 1;
    min-width: 0;
    position: relative;
    display: block;
    padding-right: 28px;
    @include font-size-default(14);

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 0;
      margin-top: -10px;
      background: url('@/assets/images/icon/add-black.svg') no-repeat 50% 50% /
        100% 100%;
    }
  }
}
