.box {
  padding: 19px;
  border-radius: 8px;
  border: 1px solid $color-gray-20;

  &--theme {
    &-secondary {
      border-color: $color-white;
      background-color: $color-white;
    }

    &-tertiary {
      border-radius: 12px;
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quaternary {
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 12px;
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quinary {
      padding: 15px;
    }

    &-senary {
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-septenary {
      padding: 12px 16px 10px 16px;
    }
  }
}
