.box {
  padding: 19px;
  border-radius: 8px;
  border: 1px solid $color-gray-20;

  &--theme {
    &-secondary {
      border-color: $color-white;
      background-color: $color-white;
    }

    &-tertiary {
      border-radius: 12px;
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quaternary {
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 12px;
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quinary {
      padding: 15px;
    }

    &-senary {
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-septenary {
      padding: 11px 15px;
    }

    &-octonary {
      border-radius: 12px;
      border-color: rgba($color-white, 0.2);
    }

    /*
    &-nonary {
      border-radius: 12px;
      border-color: $color-blue-50;
      background-color: $color-blue-50;
    }

    &-denary {
      border-radius: 12px;
      border-color: $color-green-50;
      background-color: $color-green-50;
    }
    */

    &-undenary {
      border-radius: 12px;
      border-color: $color-navy-05;
      background-color: $color-navy-05;
    }

    &-thirteenth {
      padding: 29px;
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }
  }
}
