.box-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray-20;
  margin-bottom: 20px;

  &__left {
    flex: 1;
    min-width: 0;
  }

  &__right {
    flex: none;
    margin-left: 16px;
  }

  &--align {
    &-top {
      align-items: flex-start;
    }

    &-bottom {
      align-items: flex-end;
    }
  }
}
