.illust-object {
  display: block;
  width: 200px;
  height: 160px;
  margin: auto;
  box-sizing: content-box;
  padding-bottom: 40px;
  background: url('@/assets/images/illustration/img-1qcapital.png') no-repeat
    50% 0 / 100% auto;

  &--type {
    &-complete {
      background-image: url('@/assets/images/illustration/img-complete.png');
    }
    &-error {
      background-image: url('@/assets/images/illustration/img-error.png');
    }
    &-fail {
      background-image: url('@/assets/images/illustration/img-fail.png');
    }
    &-license {
      background-image: url('@/assets/images/illustration/img-license.png');
    }
    &-certification {
      background-image: url('@/assets/images/illustration/img-certification.png');
    }
    &-star {
      background-image: url('@/assets/images/illustration/img-star.png');
    }
    &-appfree {
      background-image: url('@/assets/images/illustration/img-appfree.png');
    }
    &-capital {
      background-image: url('@/assets/images/illustration/img-logo.png');
    }
    &-rental {
      background-image: url('@/assets/images/illustration/img-rental.png');
    }
    &-faceID {
      background-image: url('@/assets/images/illustration/img-faceID.png');
    }
    &-finger {
      background-image: url('@/assets/images/illustration/img-finger.png');
    }
    &-face {
      background-image: url('@/assets/images/illustration/img-face.png');
    }
    &-alarm {
      background-image: url('@/assets/images/illustration/img-alarm.png');
    }
    &-driver {
      background-image: url('@/assets/images/illustration/img-driver.png');
    }
    &-contract {
      background-image: url('@/assets/images/illustration/img-contract.png');
    }
    &-check {
      background-image: url('@/assets/images/illustration/img-check.png');
    }
    &-charge {
      background-image: url('@/assets/images/illustration/img-charge.png');
    }
    &-repayment {
      background-image: url('@/assets/images/illustration/img-repayment.png');
    }
    &-overdue {
      background-image: url('@/assets/images/illustration/img-overdue.png');
    }
    &-arrow {
      background-image: url('@/assets/images/illustration/img-arrow.png');
    }
    &-restore {
      background-image: url('@/assets/images/illustration/img-restore.png');
    }
    &-cancel {
      background-image: url('@/assets/images/illustration/img-cancel.png');
    }
    &-installment {
      background-image: url('@/assets/images/illustration/img-installment.png');
    }
    &-score {
      background-image: url('@/assets/images/illustration/img-score.png');
    }
    &-reading {
      background-image: url('@/assets/images/illustration/img-reading.png');
    }
    &-search {
      background-image: url('@/assets/images/illustration/img-search.png');
    }
    &-deadline {
      background-image: url('@/assets/images/illustration/img-deadline.png');
    }
    &-accountDelete {
      background-image: url('@/assets/images/illustration/img-account-delete.png');
    }
    &-passwords {
      background-image: url('@/assets/images/illustration/img-passwords.png');
    }
    &-join {
      background-image: url('@/assets/images/illustration/img-join.png');
    }
    &-join {
      background-image: url('@/assets/images/illustration/img-join.png');
    }
    &-checklist {
      background-image: url('@/assets/images/illustration/img-checklist.png');
    }
    &-credit {
      background-image: url('@/assets/images/illustration/img-credit.png');
    }
    &-customer {
      background-image: url('@/assets/images/illustration/img-customer.png');
    }
    &-feature {
      background-image: url('@/assets/images/illustration/img-feature.png');
    }
    &-mean {
      background-image: url('@/assets/images/illustration/img-mean.png');
    }
    &-faq {
      background-image: url('@/assets/images/illustration/img-faq.png');
    }
    &-middlepay {
      background-image: url('@/assets/images/illustration/img-middlepay.png');
    }
    &-graph {
      background-image: url('@/assets/images/illustration/img-graph.png');
    }
    &-password {
      background-image: url('@/assets/images/illustration/img-password.png');
    }
    &-shield {
      background-image: url('@/assets/images/illustration/img-shield.png');
    }
  }
}
