@mixin button-pressed-selector {
  &:hover,
  &:active,
  &:focus-visible {
    @content;
  }
}

@mixin button-disabled-selector {
  &[disabled],
  &.button--disabled,
  &[disabled]:hover,
  &.button--disabled:hover,
  &[disabled]:active,
  &.button--disabled:active,
  &[disabled]:focus-visible,
  &.button--disabled:focus-visible {
    @content;
  }
}

.button {
  @include reset-button;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  border-radius: 8px;
  padding: 15px;
  @include font-size-button(16);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  border: 1px solid $color-green-50;
  background: $color-green-50;

  &__text {
    display: block;
  }

  &__icon {
    flex: none;
    display: block;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;

      * {
        fill: $color-white;
      }
    }
  }

  &__icon + &__text,
  &__text + &__icon {
    margin-left: 2px;
  }

  &--icon-only {
    width: 52px;
  }

  &--inline {
    display: inline-flex;
    vertical-align: top;
    width: auto;
  }

  &--size {
    &-small {
      min-height: 42px;
      padding: 11px;
      @include font-size-button(13);

      .button__icon {
        width: 18px;
        height: 18px;
      }

      &.button--icon-only {
        width: 42px;
      }
    }

    &-mini {
      min-height: 30px;
      border-radius: 6px;
      padding: 7px;
      @include font-size-button(12);

      .button__icon {
        width: 14px;
        height: 14px;
      }

      .button__icon + .button__text,
      .button__text + .button__icon {
        margin-left: 0;
      }

      &.button--icon-only {
        width: 30px;
      }
    }

    &-none-line {
      min-height: 36px;
      padding: 0px 0px 16px;
      @include font-size-button(13);
      color: $color-gray-70;

      .button__icon {
        width: 14px;
        height: 14px;
      }

      .button__icon + .button__text,
      .button__text + .button__icon {
        margin-left: 2px;
      }

      &.button--icon-only {
        width: 30px;
      }
    }
  }

  @include button-pressed-selector {
    border-color: $color-green-60;
    background-color: $color-green-60;
  }

  &--line {
    color: $color-green-50;

    .button__icon {
      svg {
        * {
          fill: $color-green-50;
        }
      }
    }

    @include button-pressed-selector {
      color: $color-green-60;

      .button__icon {
        svg {
          * {
            fill: $color-green-60;
          }
        }
      }
    }
  }

  &--theme {
    &-secondary {
      border-color: $color-blue-50;
      background-color: $color-blue-50;

      @include button-pressed-selector {
        border-color: $color-blue-60;
        background-color: $color-blue-60;
      }

      &.button--line {
        color: $color-blue-50;

        .button__icon {
          svg {
            * {
              fill: $color-blue-50;
            }
          }
        }

        @include button-pressed-selector {
          color: $color-blue-60;

          .button__icon {
            svg {
              * {
                fill: $color-blue-50;
              }
            }
          }
        }
      }
    }

    &-tertiary {
      border-color: $color-navy-50;
      background-color: $color-navy-50;

      @include button-pressed-selector {
        border-color: $color-navy-60;
        background-color: $color-navy-60;
      }

      &.button--line {
        color: $color-navy-50;

        .button__icon {
          svg {
            * {
              fill: $color-navy-50;
            }
          }
        }

        @include button-pressed-selector {
          color: $color-navy-60;

          .button__icon {
            svg {
              * {
                fill: $color-navy-50;
              }
            }
          }
        }
      }
    }

    &-quaternary {
      color: $color-black;
      border-color: $color-gray-20;
      background-color: $color-gray-20;

      .button__icon {
        svg {
          * {
            fill: $color-black;
          }
        }
      }

      @include button-pressed-selector {
        border-color: $color-gray-30;
        background-color: $color-gray-30;
      }

      &.button--line {
        color: $color-gray-70;
        border-color: $color-gray-30;

        .button__icon {
          svg {
            * {
              fill: $color-gray-70;
            }
          }
        }

        @include button-pressed-selector {
          border-color: $color-gray-50;
        }
      }
    }

    &-quinary {
      color: $color-gray-70;
      border-color: transparent;
      background-color: transparent;

      .button__icon {
        svg {
          * {
            fill: $color-gray-70;
          }
        }
      }

      @include button-pressed-selector {
        border-color: transparent;
        background-color: transparent;
      }

      &.button--line {
        color: $color-gray-70;
        border-color: transparent;
        background-color: transparent;

        .button__icon {
          svg {
            * {
              fill: $color-gray-70;
            }
          }
        }

        @include button-pressed-selector {
          border-color: transparent;
        }
      }
    }

    &-quaternary-green {
      color: $color-green-50;
      border-color: $color-gray-20;
      background-color: $color-gray-20;

      .button__icon {
        svg {
          * {
            fill: $color-black;
          }
        }
      }

      @include button-pressed-selector {
        border-color: $color-gray-30;
        background-color: $color-gray-30;
      }

      &.button--line {
        color: $color-green-50;
        border-color: $color-gray-30;

        .button__icon {
          svg {
            * {
              fill: $color-gray-70;
            }
          }
        }

        @include button-pressed-selector {
          border-color: $color-gray-50;
        }
      }
    }

    &-quaternary-blue {
      color: $color-blue-50;
      border-color: $color-gray-20;
      background-color: $color-gray-20;

      .button__icon {
        svg {
          * {
            fill: $color-black;
          }
        }
      }

      @include button-pressed-selector {
        border-color: $color-gray-30;
        background-color: $color-gray-30;
      }

      &.button--line {
        color: $color-blue-50;
        border-color: $color-gray-30;

        .button__icon {
          svg {
            * {
              fill: $color-gray-70;
            }
          }
        }

        @include button-pressed-selector {
          border-color: $color-gray-50;
        }
      }
    }
  }

  &[disabled],
  &--disabled,
  &[disabled]:hover,
  &--disabled:hover,
  &[disabled]:active,
  &--disabled:active,
  &[disabled]:focus-visible,
  &--disabled:focus-visible {
    color: $color-gray-40;
    border-color: $color-gray-20;
    background-color: $color-gray-20;
    cursor: default;

    .button__icon {
      svg {
        * {
          fill: $color-gray-40;
        }
      }
    }
  }

  &--line {
    background-color: transparent;

    @include button-pressed-selector {
      background-color: transparent;
    }

    @include button-disabled-selector {
      border-color: $color-gray-30;
      background-color: transparent;
    }
  }

  &--min-side {
    padding-left: 3px;
    padding-right: 3px;
  }
}
