.buttons {
  margin-top: 32px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__item {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;

    & + & {
      margin-left: 8px;
    }
  }

  &--align-left &__list {
    justify-content: flex-start;
  }

  &--align-right &__list {
    justify-content: flex-end;
  }

  &--align-center &__list {
    justify-content: center;
  }

  &--align-full &__list {
    display: block;
  }
  &--align-full &__list &__item + &__item {
    margin-left: 0;
    margin-top: 12px;
  }

  &__item--flex-none,
  &--align-left &__item,
  &--align-right &__item,
  &--align-center &__item {
    flex: none;
  }

  &--align-left &__item--flexible,
  &--align-right &__item--flexible,
  &--align-center &__item--flexible {
    flex: 1;
  }

  &--wrap {
    &::before {
      content: '';
      display: table;
    }

    .buttons {
      &__list {
        margin: -8px 0 0 -8px;
        flex-wrap: wrap;
      }

      &__item {
        flex: none;
        width: 50%;
        padding: 8px 0 0 8px;

        & + .buttons__item {
          margin-left: 0;
        }
      }
    }
  }

  &--col-3 {
    .buttons {
      &__item {
        width: 33.333333%;
      }
    }
  }

  &--col-4 {
    .buttons {
      &__item {
        width: 25%;
      }
    }
  }
}
