@mixin button-pressed-selector {
  &:hover,
  &:active,
  &:focus-visible {
    @content;
  }
}

@mixin button-disabled-selector {
  &[disabled],
  &.button--disabled,
  &[disabled]:hover,
  &.button--disabled:hover,
  &[disabled]:active,
  &.button--disabled:active,
  &[disabled]:focus-visible,
  &.button--disabled:focus-visible {
    @content;
  }
}

.button {
  @include reset-button;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  min-height: 25px;
  vertical-align: top;
  border-radius: 13px;
  padding: 4px 8px;
  @include font-size-button(12);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $color-black;
  border: 1px solid $color-gray-20;
  background: $color-gray-20;

  &__text {
    display: block;
  }

  &__icon {
    flex: none;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: -4px;

    svg {
      width: 100%;
      height: 100%;

      * {
        fill: $color-black;
      }
    }
  }

  &__icon + &__text {
    margin-left: 0px;
  }

  &__text + &__icon {
    margin-left: 0px;
    margin-right: -4px;
  }

  &[disabled],
  &--disabled,
  &[disabled]:hover,
  &--disabled:hover,
  &[disabled]:active,
  &--disabled:active,
  &[disabled]:focus-visible,
  &--disabled:focus-visible {
    color: $color-gray-40;
    border-color: $color-gray-20;
    background-color: $color-gray-20;

    .button__icon {
      svg {
        * {
          fill: $color-gray-40;
        }
      }
    }
  }
}
