.join {
  margin-top: 31px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex: none;
    width: 36px;
    height: 36px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    flex: 1;
    min-width: 0;
    margin: 0 8px;
    @include font-size-default(13);
    font-weight: 500;
  }

  &__link {
    flex: none;
    width: auto;
  }
}
