.illust {
  padding-bottom: 40px;
}

.form {
  padding-bottom: 24px;
}

.buttons {
  margin-top: auto;
  padding-top: 16px;
}

.sidebar {
  margin-top: 16px;
  text-align: center;

  &__list {
    @include reset-list;
    font-size: 0;
    line-height: 0;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    & + & {
      margin-left: 17px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -9px;
        margin-top: -6px;
        width: 1px;
        height: 12px;
        background-color: $color-gray-30;
      }
    }
  }

  &__link {
    @include reset-button;
    display: block;
    @include font-size-default(13);
    font-weight: 300;
  }
}

.join {
  margin-top: 31px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex: none;
    width: 36px;
    height: 36px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    flex: 1;
    min-width: 0;
    margin: 0 8px;
    @include font-size-default(13);
    font-weight: 500;
  }

  &__link {
    flex: none;
    width: auto;
  }
}
