@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/basic-table.scss';

.header {
  &-left {
    flex: none;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &-right {
    flex: none;
  }

  &-center {
    flex: 1;
    min-width: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
}
