@import '@/assets/scss/components/import/inline-alert.scss';
@import '@/assets/scss/components/import/logs.scss';

.key-value-opener {
  width: 16px;
  height: 16px;
}
.contents {
  margin-top: 16px;
}
