@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/inline-alert.scss';

.key-value-opener {
  width: 16px;
  height: 16px;
}
.account-contents {
  padding-top: 16px;
}
