.header {
  &-left {
    flex: none;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &-right {
    flex: none;
  }

  &-center {
    flex: 1;
    min-width: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.body {
  padding: 0 !important;
}

.silde {
  position: relative;
  flex: 1;
  min-height: 0;

  &__prev,
  &__next {
    @include reset-button;
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -12px;
      left: -12px;
      box-sizing: content-box;
      padding: 12px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__prev {
    left: 12px;
  }

  &__next {
    right: 12px;
  }

  &__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    img {
      flex: none;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  :global(.swiper) {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &__child {
    :global(.swiper-slide) {
      flex: 1;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    :global(.swiper-scrollbar) {
      position: absolute;
      z-index: 10;
      top: 8px;
      right: 8px;
      bottom: 8px;
      width: 4px;
    }

    :global(.swiper-scrollbar-drag) {
      border-radius: 2px;
      background-color: $color-gray-40;
    }
  }
}
