@import '@/assets/scss/components/import/share-list.scss';
@import '@/assets/scss/components/import/document/document.scss';

.appoint-wrap {
  padding-top: 8px;
}

.appoint-btn {
  width: 64px;
  min-height: 34px;
  @include font-size-default(15);
}
