.key-value-opener {
  width: 16px;
  height: 16px;

  &::before {
    padding-left: 0;
    left: 0;
  }
}

.detail-contents {
  padding-top: 16px;
}

.number {
  &::before {
    content: '';
    display: table;
  }

  &__list {
    @include reset-list;
    margin: -16px 0 0 -8px;
    font-size: 0;
    line-height: 0;
  }

  &__item {
    display: inline-block;
    padding: 16px 0 0 8px;
  }
}
