@import '@/assets/scss/components/import/estimate-list.scss';
@import '@/assets/scss/components/import/loading-icon.scss';
@import '@/assets/scss/components/import/notice-section.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/check-list.scss';
@import '@/assets/scss/components/import/document/document.scss';

.products {
  margin: 0 -20px;
  overflow: hidden;

  .estimate-list {
    margin-left: 6px;
    margin-right: 6px;
  }

  :global(.swiper) {
    padding: 0 14px;
    overflow: visible;
  }

  &--accordion-animate {
    :global(.swiper-wrapper) {
      height: auto !important;
    }
  }
}
