@import '@/assets/scss/components/import/estimate-list.scss';
@import '@/assets/scss/components/import/loading-icon.scss';
@import '@/assets/scss/components/import/notice-section.scss';
@import '@/assets/scss/components/import/basic-list.scss';
@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/check-list.scss';
@import '@/assets/scss/components/import/document/document.scss';

.total {
  margin: 40px -20px 0;
  padding: 24px 20px;
  background-color: $color-gray-15;
}

.products {
  margin: 0 -20px;
  overflow: hidden;

  .estimate-list {
    margin-left: 6px;
    margin-right: 6px;
  }

  :global(.swiper) {
    padding: 0 14px;
    overflow: visible;
  }

  &--accordion-animate {
    :global(.swiper-wrapper) {
      height: auto !important;
    }
  }
}

.appoint-wrap {
  dt {
    top: 34px;
  }
}

.appoint-wrap-input {
  padding-top: 7px;
}

.appoint-btn {
  width: 64px;
  min-height: 34px;
  @include font-size-default(15);
}
